/* Фона и цвят на текста на страницата */ 
body, root { 
background: #ffffff; 
color:#666666; 
}  

#main{ background:#f8f8f8;border:1px solid #f8f8f8;} /* Фона на сайта */ 
#news-title{ color:#949494; } /* Цвят на заглавията на новините	*/ 

body a , b{  color:#a3a3a3; text-shadow:none; } /* Цвят на линковете и удебелените думи в сайтт*/ 
body a:hover, #menu-conteinter a:hover{ text-decoration:underline; } 

/* Бутоните  */ 
 
button, #button, a#button  {	
background-image: linear-gradient(bottom, #cecece 0%, #ffffff  100%);
background-image: -o-linear-gradient(bottom, #cecece 0%, #ffffff 100%);
background-image: -moz-linear-gradient(bottom, #cecece 0%, #ffffff 100%);
background-image: -webkit-linear-gradient(bottom, #cecece 0%, #ffffff) 100%);
background-image: -ms-linear-gradient(bottom, #cecece 0%, #ffffff 100%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #cecece ), color-stop(1, #ffffff) );
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece', GradientType=0 );
color:#424242;	
border-top: 1px solid #ffffff; 
text-shadow:1px 1px #f8f8f8;
font-size:13px;
padding:5px;

/* Shadow */ 

border:1px solid #cecece;
-webkit-box-shadow:0 0px 2px #666666;	
-moz-box-shadow:0 0px 2px #666666;	
 box-shadow:0 0px 2px #666666;	
 
}




 button:hover, #button:hover, a#button:hover{
 background-image: linear-gradient(bottom,  #ffffff 0%,  #cecece 100%);
background-image: -o-linear-gradient(bottom, #ffffff 0%,  #cecece100%);
background-image: -moz-linear-gradient(bottom, #ffffff 0%,  #cecece 100%);
background-image: -webkit-linear-gradient(bottom, #ffffff 0%,  #cecece) 100%);
background-image: -ms-linear-gradient(bottom, #ffffff 0%,  #cecece 100%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #ffffff ), color-stop(1,#cecece) );
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff', GradientType=0 );
color:#424242;	
border-top: 1px solid #cecece; 
text-shadow:1px 1px #f8f8f8;
font-size:13px;
padding:5px;

/* Shadow */ 

border:1px solid #ffffff;
-webkit-box-shadow:0 0px 2px #666666;	
-moz-box-shadow:0 0px 2px #666666;	
 box-shadow:0 0px 2px #666666;	
 
 
 }




/*	  Менюто - то е със същият градиен като на Горната част на панелите	*/  
#menu-conteinter { 
background-image: linear-gradient(bottom, #cecece 10%, #ffffff 100%);
background-image: -o-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
background-image: -moz-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
background-image: -webkit-linear-gradient(bottom, #cecece 10%, #ffffff) 100%);
background-image: -ms-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, #cecece), color-stop(1, #ffffff) );
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece', GradientType=0 );

color:#a3a3a3;
border:1px solid #eaeaea;
text-align:left;
padding: 10px ;



}

#menu-conteinter a {  text-shadow: 1px 1px #ffffff;  color:#a3a3a3; text-align:left; margin-right: 10px; }
#menu-conteinter a:hover { text-decoration: underline;  }

 /*	 Горната част на панелите	*/ 
#panel-top { 
background-image: linear-gradient(bottom, #cecece 10%, #ffffff 100%);
background-image: -o-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
background-image: -moz-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
background-image: -webkit-linear-gradient(bottom, #cecece 10%, #ffffff) 100%);
background-image: -ms-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, #cecece), color-stop(1, #ffffff) );
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#cecece', GradientType=0 );
color: #949494; 
border:1px solid #eaeaea;  
border-bottom:0px;
text-align:left;
padding:8px;
font-size: 13px;
text-shadow:1px 1px #ffffff;


}

 /*	 Долната част на панелите	*/  
#panel-bottom{ 
background: #efefef;  
color:#949494;  
border:1px solid #eaeaea;  
border-top:0px;
font-size:13px;
padding:7px;
text-align:left;




}

/* Footer */
#footer{
  margin:0px auto;
  background: transparent;
  padding:5px;
  width:950px;
  border:0px;
  color:#CCCCCC;
}


/* INPUTS BE MEN .. */ 
input 
{ 
	background:#fcfcfc; 
	border:1px solid #e8e8e8; 
	padding:6px; 
	color:#CCCCCC; 
	margin-bottom:7px; 
}

select
{
	width:200px;
	max-height:200px;
	background:#fcfcfc;
	border:1px solid #e8e8e8; 
	padding:6px;
	color:#CCCCCC;
	margin-bottom:7px;
}


textarea
{
    width:200px;
	max-width:450px;
	max-height:200px;
	background:#fcfcfc;
	border:1px solid #e8e8e8; 
	padding:6px;
	color:#CCCCCC;
	margin-bottom:7px;
}

/* Новинитее .. */
#news-title
{
		background:#cecece;
		padding:5px;
		color:#666666;
		font-family:Arial;
		text-shadow:1px 1px #f8f8f8;
}
#the-news-text{ color:#666666; }

/* CHat */
#chat-msg{
 margin-top:10px;border-top:1px solid #f8f8f8;
}

#chat-msg  #user-msg
{
	border-top:1px solid #cecece;
	border-bottom:1px solid #ffffff;
	padding:5px;
}

#chat-msg  #user-and-date 
{
	padding:3px;
	font-size:10px;
}
#chat-msg #user-and-date a
{
	font-size:10px;
}

/* Online users panel	*/

#online_user{ padding:5px 5px ;}
#online_user a, #online_user a:hover{ font-size:10px; text-decoration:none;}
#online_user span{ float:right;margin-top:-2px;}
#online_user:hover{
  background:#ffffff;
}


/* User profile*/
#user-profile-image{
  float:left;
  width:100px;
}
#user-profile-image img{
   width:100px;
   border:1px solid #eaeaea;
}

#right{ margin-left:105px;}

#username-style{
  font-size:15px;
  font-family:Arial;
  text-shadow:1px 1px #fcfcfc;
}

#u-desc{
  border:1px solid #eaeaea;
  margin-top:5px;
  margin-left:-10px;
  padding:3px;
  padding-left:10px;
  font-size:11px;
  background:#f8f8f8;
  color: #666666;
  /*Shadow*/
  -webkit-box-shadow:0 0px 2px #666;
	 -moz-box-shadow:0 0px 2px #666;
		  box-shadow:0 0px 2px #666;
}
#u-desc div{
  padding:4px;
  font-size:12px;
}

#user-opts{ text-align:right;margin-top:5px;}
#user-cs-info{ margin-top:5px ;font-family:Arial; font-size:11px;}



/*
	SITE PAGEING
*/
.paginate {
	margin:0px 0px 0px -13px;
	padding:4px 8px 3px 8px;
	font-size:11px;
	font-family:Arial;
	
}

.paginate a {
	margin:3px;
	padding:4px 8px 3px 8px;
	font-size:11px;
	font-family:Arial;
	border:1px solid #888;
	text-decoration:none;
	color: #666666;
    	border-radius:3px;
	  -o-border-radius:3px;
	 -ms-border-radius:3px;
	-moz-border-radius:3px;
 -webkit-border-radius:3px;
	
	border: 1px solid #cecece; 
	text-shadow:1px 1px #f8f8f8;	
	color: #424242;
	outline:0px;
	background-image: linear-gradient(bottom, #cecece 10%, #ffffff  100%);
	background-image: -o-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
	background-image: -moz-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
	background-image: -webkit-linear-gradient(bottom, #cecece 10%, #ffffff) 100%);
	background-image: -ms-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, #cecece ), color-stop(1, #ffffff) );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece', GradientType=0 );

	


}
 .paginate a:active,.paginate a:visited {
 	/* color:#3f5874; /*   qko sinio .. ама na mene sq mi trqq sivo :D*/ 
	margin:3px;
	padding:4px 8px 3px 8px;
	font-size:11px;
	font-family:Arial;
	text-decoration:none;
	border: 1px solid #cecece; 
	text-shadow:1px 1px #f8f8f8;	
	color: #424242;
	outline:0px;
	background-image: linear-gradient(bottom, #cecece 10%, #ffffff  100%);
	background-image: -o-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
	background-image: -moz-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
	background-image: -webkit-linear-gradient(bottom, #cecece 10%, #ffffff) 100%);
	background-image: -ms-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, #cecece ), color-stop(1, #ffffff) );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece', GradientType=0 );

	

}

.paginate a:hover{
	margin:3px;
	padding:4px 8px 3px 8px;
	font-size:11px;
	font-family:Arial;
	border:solid 1px #3a0606;
	text-shadow:1px 1px #840303;
	color:#000;
	text-decoration:none;
	outline:0px;
		 box-shadow:0 0px 2px #cecece;
	-moz-box-shadow:0 0px 2px #cecece;
 -webkit-box-shadow:0 0px 2px #cecece;
 
	
	
}

.paginate span.current {
	margin:3px;
	padding:4px 8px 3px 8px;
	font-size:11px;
	font-family:Arial;
		border-radius:3px;
	 -o-border-radius:3px;
	-ms-border-radius:3px;
   -moz-border-radius:3px;
-webkit-border-radius:3px;
	outline:0px;
	
	border: 1px solid #cecece; 
	text-shadow:1px 1px #f8f8f8;	
	color: #424242;
	outline:0px;
	background-image: linear-gradient(bottom, #ffffff 10%,  #cecece  100%);
	background-image: -o-linear-gradient(bottom, #ffffff 10%,  #cecece 100%);
	background-image: -moz-linear-gradient(bottom, #ffffff 10%,  #cecece 100%);
	background-image: -webkit-linear-gradient(bottom, #ffffff 10%,  #cecece) 100%);
	background-image: -ms-linear-gradient(bottom,  #ffffff 10%,  #cecece 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, #ffffff ), color-stop(1, #cecece) );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff', GradientType=0 );

	
	
}
	
.paginate span.disabled {
	margin:3px;
	padding:4px 8px 3px 8px;
	font-size:11px;
	font-family:Arial;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-radius-topleft:3px;
	-webkit-border-radius-bottomleft:3px;
	outline:0px;
	border: 1px solid #cecece; 
	text-shadow:1px 1px #f8f8f8;	
	color: #424242;
	outline:0px;
	background-image: linear-gradient(bottom, #ffffff 10%,  #cecece  100%);
	background-image: -o-linear-gradient(bottom, #ffffff 10%,  #cecece 100%);
	background-image: -moz-linear-gradient(bottom, #ffffff 10%,  #cecece 100%);
	background-image: -webkit-linear-gradient(bottom, #ffffff 10%,  #cecece) 100%);
	background-image: -ms-linear-gradient(bottom,  #ffffff 10%,  #cecece 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, #ffffff ), color-stop(1, #cecece) );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece', GradientType=0 );
	}
	.paginate #NEXTpagedisabled{
	margin:3px;
	padding:4px 8px 3px 8px;
	font-size:11px;
	font-family:Arial;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:0px;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-radius-topright:3px;
	-webkit-border-radius-bottomright:3px;
	-webkit-border-radius-topleft:0px;
	-webkit-border-radius-bottomleft:0px;
	outline:0px;
	border: 1px solid #cecece; 
	text-shadow:1px 1px #f8f8f8;	
	color: #424242;
	outline:0px;
	background-image: linear-gradient(bottom, #ffffff 10%,  #cecece  100%);
	background-image: -o-linear-gradient(bottom, #ffffff 10%,  #cecece 100%);
	background-image: -moz-linear-gradient(bottom, #ffffff 10%,  #cecece 100%);
	background-image: -webkit-linear-gradient(bottom, #ffffff 10%,  #cecece) 100%);
	background-image: -ms-linear-gradient(bottom,  #ffffff 10%,  #cecece 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, #ffffff ), color-stop(1, #cecece) );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece', GradientType=0 );
	
}


.paginate a#NEXTpageActive{
	margin:3px;
	padding:4px 8px 3px 8px;
	font-size:11px;
	font-family:Arial;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-radius-topright:3px;
	-webkit-border-radius-bottomright:3px;
	outline:0px;
	border: 1px solid #cecece; 
	text-shadow:1px 1px #f8f8f8;	
	color: #424242;
	outline:0px;
	background-image: linear-gradient(bottom, #cecece 10%, #ffffff  100%);
	background-image: -o-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
	background-image: -moz-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
	background-image: -webkit-linear-gradient(bottom, #cecece 10%, #ffffff) 100%);
	background-image: -ms-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, #cecece ), color-stop(1, #ffffff) );
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff', GradientType=0 );
	
}
.paginate a.firstPageAct{
	margin:3px;
	padding:4px 8px 3px 8px;
	font-size:11px;
	font-family:Arial;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-radius-topleft:3px;
	-webkit-border-radius-bottomleft:3px;
	outline:0px;
	border: 1px solid #cecece; 
	text-shadow:1px 1px #f8f8f8;	
	color: #424242;
	outline:0px;
	background-image: linear-gradient(bottom, #cecece 10%, #ffffff  100%);
	background-image: -o-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
	background-image: -moz-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
	background-image: -webkit-linear-gradient(bottom, #cecece 10%, #ffffff) 100%);
	background-image: -ms-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, #cecece ), color-stop(1, #ffffff) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece', GradientType=0 );

}

.paginate a.defPage
{
	margin:3px;
	padding:4px 8px 3px 8px;
	font-size:11px;
	font-family:Arial;
	border: 1px solid #cecece; 
	text-shadow:1px 1px #f8f8f8;	
	color: #424242;
	outline:0px;
	background-image: linear-gradient(bottom, #cecece 10%, #ffffff  100%);
	background-image: -o-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
	background-image: -moz-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
	background-image: -webkit-linear-gradient(bottom, #cecece 10%, #ffffff) 100%);
	background-image: -ms-linear-gradient(bottom, #cecece 10%, #ffffff 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, #cecece ), color-stop(1, #ffffff) );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff', GradientType=0 );

}


#pageing-div-holder{
padding:10px 5px;
border-top:1px solid #f8f8f8;
}



/*Emoticons */


#emoticons-list{
  position:absolute;
  z-index:99;
  background: #f8f8f8;
  border:1px solid #000000;
  padding:5px;
  width:300px;
  display:none;
 
}

#emoticons-list img { width:19px; padding:10px; cursor:pointer; border:1px solid transparent; }
#emoticons-list img:hover { background:#ffffff;  border:1px solid #000000;}


.image_thumb
{
   background: #f8f8f8;
   padding:1px; 
   border:1px solid #000000; 
   width:120px;
   height:90px; 
   display:inline-block;
   margin-right:8px; 
   margin-bottom:7px;
   
  
		   box-shadow:0 0px 2px #000000, inset 0 0px 5px #000000;
      -moz-box-shadow:0 0px 2px #000000, inset 0 0px 5px #000000;
   -webkit-box-shadow:0 0px 2px #000000, inset 0 0px 5px #000000;
}

.image_thumb:hover
{
		  box-shadow:0 0px 2px #000000, inset 0 0px 1px #cecece;
     -moz-box-shadow:0 0px 2px #000000, inset 0 0px 1px #cecece;
  -webkit-box-shadow:0 0px 2px #000000, inset 0 0px 1px #cecece;
}


/* Rcm */
#rclick-menu
{
	background-image: linear-gradient(bottom, #cecece 0%, #ffffff 100%);
	background-image: -o-linear-gradient(bottom,  #cecece 0%, #ffffff  100%);
	background-image: -moz-linear-gradient(bottom, #cecece 0%, #ffffff 100%);
	background-image: -webkit-linear-gradient(bottom, #cecece 0%, #ffffff  100%);
	background-image: -ms-linear-gradient(bottom, #cecece 0%, #ffffff   100%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #ffffff),
	color-stop(1, #cecece)
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff', GradientType=0 );
	 border:1px solid #000000;
	 padding:7px;
	 color:	#666666;
	 cursor:pointer;
	 letter-spacing:1px;
	 font-size:11px;
	 font-family:Vendana;
	 position:absolute;
	 display:none;
	 
 -webkit-box-shadow:0 0px 5px #000;
    -moz-box-shadow:0 0px 5px #000;
     -ms-box-shadow:0 0px 5px #000;
      -o-box-shadow:0 0px 5px #000;
		 box-shadow:0 0px 5px #000;
		 
 -webkit-border-radius:0px 5px 5px 5px;
    -moz-border-radius:0px 5px 5px 5px;
         border-radius:0px 5px 5px 5px;
}
#rclick-menu a , #rclick-menu a:hover {
  text-decoration:none;
  color: #a3a3a3;
  font-size:11px;
  letter-spacing:0px;
}

#rclick-menu div {
  padding:6px;
  background:transparent;
  border:0px;
  color: #a3a3a3;
}
#rclick-menu div:hover {
  background: #cecece;
  color:#ffffff;
  text-shadow:0px 0px #fcfcfc;
}
p.hr {
 margin:0px;
 padding:0px;
 border-bottom:1px solid #000000;
 outline:1px solid #ffffff;
 margin:5px 0px;
}

 p#hr{
 margin:0px;
 padding:0px;
 border-bottom:1px solid #000000;
 outline:1px solid #ffffff;
 margin:5px 0px;
}



/*
  Error & Success Msgs
*/

#success_msg
{
		background:#0a490b;
		background-image: linear-gradient(bottom, #0a490b 0%, #0f770f 100%);
		background-image: -o-linear-gradient(bottom, #0a490b 0%, #0f770f  100%);
		background-image: -moz-linear-gradient(bottom, #0a490b  0%, #0f770f 100%);
		background-image: -webkit-linear-gradient(bottom, #0a490b 0%, #0f770f ) 100%);
		background-image: -ms-linear-gradient(bottom, #0a490b 0%, #0f770f  100%);
		background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #0a490b), color-stop(1,#0f770f ) ); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f770f ', endColorstr='#0a490b', GradientType=0 );
		padding:5px;
		color:#0b1601;
		text-shadow:1px 1px #0f770f;
		font-family:Arial;
		margin:5px 0px;
		border:1px solid #0e1c02;
		text-align: left;
		font-size: 12px;
}

#error_msg
{
		background:#4f1313;
		background-image: linear-gradient(bottom, #4f1313 0%, #7f1f1f 100%);
		background-image: -o-linear-gradient(bottom, #4f1313 0%, #7f1f1f 100%);
		background-image: -moz-linear-gradient(bottom, #4f1313  0%, #7f1f1f 100%);
		background-image: -webkit-linear-gradient(bottom, #4f1313 0%, #7f1f1f) 100%);
		background-image: -ms-linear-gradient(bottom, #4f1313 0%, #7f1f1f 100%);
		background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #4f1313), color-stop(1,#7f1f1f) ); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f1f1f', endColorstr='#4f1313', GradientType=0 );
		padding:5px;
		color:#070000;
		text-shadow:1px 1px #7f1f1f;
		margin:5px 0px;
		font-family:Arial;
		border:1px solid #540a0a;
		text-align: left;
		font-size: 12px;
}




/*
 Forum
*/


table.forum-table th{ background: #cecece; border-bottom:1px solid #000000; color: #666666;  font-size:12px; font-family:Arial; font-weight:bold; }

table.forum-table td{ border-bottom:1px solid #000000;  padding:12px; }

table.forum-table tr{ background: #f8f8f8; padding:15px;}

table.forum-table tr.row{ background: #efefef; border-bottom:1px solid #000000;}

table.forum-table tr.row:hover{ background:#f8f8f8;   padding:12px;}

table.no-decor td, .no-decor th{ border-bottom:0px; border:1px solid #000000;  padding:12px; }

.thead{ background: #ffffff; margin-top:10px; padding:10px;  font-size:16px; font-weight:bold; font-size:Arial;  color: #666666; text-shadow:1px 1px #ffffff;}



/*
 BB CODE - Цитат
*/
.quote{
 padding:10px;
 font-size:11px;
 color:#666666;
 font-family:arial;
 margin:10px 0px;
 border:1px solid #000000;
 background:#fcfcfc;
}

.quote span{
 color:#666666;
 border-bottom:1px dashed #000000;
}


#post-has-benn-edited{
  color:#666666;
  border-top:1px dashed #000000;
  border-bottom:1px dashed #000000;
}


.forum-read-post-user-info-left{
  border-right:1px solid #000000;
}

.forum-read-post  .post-time-added{
 color:#666666;
}


.clear-between-forum-answers{
 border-bottom:1px solid #000000;
}



.bbcode-floated-right a{
 padding:10px;
 background: #fcfcfc;
 border:1px solid #e8e8e8;
 border-bottom:0px;
 font-weight:bold;
 color: ;
 margin-left:5px;
 
 
 
 -webkit-box-shadow: inset 0 0px 5px #000 ;
	-moz-box-shadow: inset 0 0px 5px #000 ;
		 box-shadow: inset 0 0px 5px #000 ;
				 
		-webkit-border-radius:5px;
		   -moz-border-radius:5px;
				border-radius:5px;
}

.bbcode-floated-right a:hover{ 
color: #CCCCCC;
}








